@model Persona
<h2>Dettagli</h2>
<table class="table">
    <tr>
        <td>Nome</td>
        <td>@Model.nome</td>
    </tr>
    <tr>
        <td>Cognome</td>
        <td>@Model.cognome</td>
    </tr>
    <tr>
        <td>Telefono</td>
        <td>@Model.telefono</td>
    </tr>
    <tr>
        <td>Indirizzo</td>
        <td>@Model.indirizzo</td>
    </tr>
</table>
<div>
    <a href="/Default/Index">Torna Indietro</a>
</div>
